<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Create Post')"></head>
<body>
<div th:replace="fragments/navbar :: myNav"></div>
<div class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">

    <div class="form-group">
    <label for="title">Title</label>
    <input th:field="*{title}" id="title"/>
    </div>

    <br />

    <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" th:field="*{description}" id="desc" />
    </div>

    <th:block th:each="category : ${categories}">
        <input type="checkbox" name="categories" th:value="${category.id}"/>
        <label th:text="${category.name}"></label>
    </th:block>

    <br />
    <input type="submit" />
</form>
</div>
</body>
</html>